.bar-3d {
	height: 200px;
	width: 2em;
	margin-right: 2em;
	transform-style: preserve-3d;
	transform: rotateX(-20deg) rotateY(-30deg);
}

.bar-2d {
	height: 200px;
	width: 100%;
	position: relative;
}

.bar-tooltip {
	display: none;
	position: absolute;
	background-color: var(--surface);
	border: 1px solid var(--border);
	padding: 10px 15px 8px;
	border-radius: 0.3em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow-sm);
	pointer-events: none;
}

.bar-tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--border) transparent transparent transparent;
}

.bar-2d:hover + .bar-tooltip {
	display: flex;
}

.bar-2d:hover > div {
	/* transform: scale(1.02); */
	background-color: rgb(24, 158, 131) !important;
}

.bar-2d .hidden-value {
	display: none;
}

.bar:last-of-type {
	margin-right: 0;
}

.bar-2d-wrapper {
	margin-right: 2px;
}

.bar-2d-wrapper:last-of-type {
	margin-right: 0;
}

.bar-2d-wrapper:last-of-type .bar-2d-value {
	width: 100%;
}

.bar-3d .side {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(100, 100, 100, 0.25);
}

.bar-3d .back {
	transform: translateZ(-4px);
}

.bar-3d .left {
	transform-origin: left;
	transform: rotateY(90deg);
}

.bar-3d .right {
	transform-origin: right;
	transform: rotateY(-90deg);
}

.bar-3d .top {
	height: 34px;
	transform-origin: top;
	transform: rotateX(-90deg);
	background: rgba(100, 100, 100, 0.15);
}

.bar-3d .bottom {
	height: 34px;
	transform-origin: top;
	transition: 0.3s;
}

.color-bar {
	transition: 0.3s;
}

.input {
	text-align: center;
	transform: rotate(-90deg);
	outline: none;
	color: #fff;
}

.quantity-button {
	display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
    .bar-tooltip {
		background-color: var(--surface);
		border: 1px solid var(--border);
	}

	.bar-tooltip::after {
		border-color: var(--border) transparent transparent transparent;
	}
}