input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    pointer-events: auto;
}

input[type=range]:disabled {
    opacity: .5;
    cursor: not-allowed;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none !important;
    background: var(--border);
    border-radius: 14px;
    border: 0px solid #000000;
}

input[type=range]:disabled::-webkit-slider-runnable-track {
    cursor: not-allowed;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 17px;
    width: 17px;
    border-radius: 12px;
    background: linear-gradient(120deg, var(--accent), var(--accent-strong));
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d1d1d1;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #d1d1d1;
    background: var(--border);
    border-radius: 14px;
    border: 0px solid #000000;
}

input[type=range]:disabled::-moz-range-track {
    cursor: not-allowed;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: linear-gradient(120deg, var(--accent), var(--accent-strong));
    cursor: pointer;
}

input[type=range]:disabled::-moz-range-thumb {
    cursor: not-allowed;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]:disabled::-ms-track {
    cursor: not-allowed;
}

input[type=range]::-ms-fill-lower {
    background: var(--border);
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #d1d1d140;
}

input[type=range]::-ms-fill-upper {
    background: var(--border);
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #d1d1d1;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: linear-gradient(120deg, var(--accent), var(--accent-strong));
    cursor: pointer;
}

input[type=range]:disabled::-ms-thumb {
    cursor: not-allowed;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--border);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--border);
}

@media (prefers-color-scheme: dark) {
    input[type=range]::-webkit-slider-runnable-track {
        box-shadow: 1px 1px 1px var(--border);
        background: var(--border);
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: var(--border);
    }

    input[type=range]::-moz-range-track {
        box-shadow: 1px 1px 1px var(--border);
        background: var(--border);
    }

    input[type=range]::-ms-fill-lower {
        background: var(--border);
        box-shadow: 1px 1px 1px var(--border);
    }

    input[type=range]::-ms-fill-upper {
        background: var(--border);
        box-shadow: 1px 1px 1px var(--border);
    }

    input[type=range]:focus::-ms-fill-lower {
        background: var(--border);
    }

    input[type=range]:focus::-ms-fill-upper {
        background: var(--border);
    }
}