nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav>ul>li {
    margin: 0 15px;
}

nav ul li a {
    color: #007bff;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav>ul>li>a:hover {
    background: #007bff;
    color: #fff;
}

nav .logo {
    width: 30px;
    height: 30px;
    pointer-events: none;
    color: #000;
}

.inner-nav-sort {
    position: absolute;
    top: 100%;
    right: 35px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.vertical-nav-line {
    border-left: .5px solid #ddd;
    height: 55px;
}

.inner-nav-sort>li {
    padding: 20px;
}

.inner-nav-a>p {
    display: flex;
    margin: 0;
    cursor: pointer;
}

.nav-info-text {
    font-size: 12px;
    width: 200px;
    margin-top: 5px !important;
}

.sort-algorithm-a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-options{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-options>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-options>div>p {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    nav {
        background: #1e1e1e;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }

    nav .logo {
        color: #fff;
    }

    .inner-nav-sort {
        background-color: #222;
        border: 1px solid #686868;
    }

    .vertical-nav-line {
        border-left: .5px solid #686868;
    }

    .nav-info-text {
        color: #fff;
    }
}