.sort-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sort-container h2 {
    margin-top: 0;
}

.sort-definition {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {  
    .sort-definition {
      background-color: #1e1e1e;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      color: #ffffff;
    }
  }